.application {
  margin: 0;
  background-color: $grey-light;
}

.application__form {
  margin: 0;
  padding: 0;
}

.application__image {
  width: 100%;
  height: 100%;
}

.application__controls {
  margin: 0;
  padding: 0;
}

.application__buttons-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 35px 20px;
  padding: 0;
}

.application__button {
  width: 48px;
  height: 48px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-style: none;
}

.application__button-image {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  color: rgba($blue-dark, 0.3);
}

.application__button-image--crop {
  padding-bottom: 3px;
}

.application__button-image--contrast {
  padding-top: 5px;
}

.application__button--active .application__button-image {
  color: $pink;
}

.application__ranges-list {
  margin: 0 20px;
  padding: 0;
  padding-bottom: 24px;
}

.application__ranges-item {
  position: relative;
  display: none;

  &::after {
    content: "";
    position: absolute;
    top: 36px;
    left: -40px;
    width: calc(100% + 80px);
    height: 1px;
    background-color: rgba($blue-dark, 0.1);
  }
}

.application__ranges-item--crop .range__toggle {
  left: 80%;
}

.application__ranges-item--fill .range__toggle {
  left: 50%;
}

.application__ranges-item--contrast .range__toggle {
  left: 20%;
}

.application__ranges-item--active {
  display: flex;
}

.application__wrapper-buttons {
  margin: 0;
  padding: 49px 0 0;
  line-height: 0;
}

.application__btn-upload {
  width: 100%;
  margin-bottom: 12px;
  background-color: transparent;
}

.application__btn-reset {
  width: 100%;
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .application__form {
    display: flex;
    justify-content: space-between;
  }

  .application__controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    margin: 0;
    margin-right: 10px;
  }

  .application__filters {
    display: flex;
    height: 50%;
  }

  .application__buttons-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .application__button {
    margin: 0;
    padding: 23px 0;
    box-sizing: border-box;
    background-position: right center;
  }

  .application__button--crop {
    background-size: 22px 22px;
    background-image: url("../img/icon-editor-crop-active.svg");
  }

  .application__button--fill {
    background-size: 24px 22px;
    background-image: url("../img/icon-editor-fill-active.svg");
  }

  .application__button--contrast {
    background-image: url("../img/icon-editor-contrast-active.svg");
    background-size: 16px 16px;
  }

  .application__ranges-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    padding-left: 30px;
  }

  .application__ranges-item {
    display: flex;
    width: 100%;
    height: 22px;
    margin: 0;
    padding: 37px 0;

    &::after {
      top: auto;
      bottom: 0;
      left: -50px;
      width: calc(100% + 55px);
    }
  }
}

@media (min-width: $desktop-width) {
  .application {
    width: 940px;
    padding: 0;
    box-sizing: border-box;
  }

  .application__wrapper {
    width: 50%;
    margin: 0;
    padding: 45px 90px;
  }

  .application__controls {
    width: 50%;
    margin: 0;
    padding: 45px 60px 45px 0;
  }

  .application__button {
    background-position: center;
  }

  .application__button--crop {
    background-size: 44px 44px;
  }

  .application__button--fill {
    background-size: 48px 43px;
  }

  .application__button--contrast {
    background-size: 32px 32px;
  }

  .application__wrapper-buttons {
    display: flex;
  }
}
