.btn {
  display: inline-block;
  padding: 16px  39px 16px 40px;
  box-sizing: border-box;
  vertical-align: middle;
  font: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  cursor: pointer;
}
