.btn {
  display: inline-block;
  padding: 16px  39px 16px 40px;
  box-sizing: border-box;
  vertical-align: middle;
  font: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: $green-darker;
  }

  &:active {
    color: rgba($white, 0.3);
    background-color: $green-darker;
  }

  &:disabled {
    background-color: rgba($grey, 0.1);
    color: $white;
  }
}

.btn--disabled {
  background-color: rgba($grey, 0.1);
  color: $white;
}
