.information {
  margin: 0;
  padding: 45px 0;
  text-align: center;
}

.information__promo {
  margin: 0;
  padding: 24px 30px;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $blue-dark;
}

.information__list-header {
  fill: $white;
  width: 100%;
}

.information__list {
  @include list-reset;
  position: relative;
  margin: 0;
  padding: 94px 30px 0;
  background-color: $grey-light;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top left;
}

.information__item {
  margin: 0;
  padding: 20px 0;
  overflow: hidden;

  &:first-child {
    padding-top: 60px;
  }

  &:last-child {
    padding-bottom: 322px;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: bottom -43px center;
    overflow-y: hidden;
  }
}

.information__title {
  font-size: 18px;
  font-weight: bold;
  color: $black;
}

.information__effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .information {
    text-align: left;
  }

  .information__promo {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 40px;
  }

  .information__promo--slim {
    padding-right: 50px;
    padding-left: 50px;
  }

  .information__list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      width: 268px;
      height: 481px;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;
    }
  }

  .information__item {
    width: 320px;
    padding: 0;
    padding-left: 10px;
    box-sizing: border-box;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 20px;
      background-image: none;
    }
  }

  .information__effect {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 117px 20px;

    &::before {
      content: "";
      position: absolute;
      top: 82px;
      left: 21px;
      width: 238px;
      height: 276px;
      background-image: url("../img/icon-timer.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 238px 276px;
    }

    &::after {
      content: "24";
      position: absolute;
      top: 137px;
      left: 39px;
      width: 202px;
      height: 202px;
      padding: 33px;
      box-sizing: border-box;
      font-size: 96px;
      line-height: 96px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      text-align: center;
      background-color: $white;
      border: 15px solid $pink;
      border-radius: 50%;
      color: $pink;
    }
  }

  .information__effect-wrapper {
    width: 320px;
  }

  .information__title-effect {
    width: 166px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
    color: $black;
  }

  .information__link {
    color: $pink;
  }
}

@media (min-width: $desktop-width) {
  .information__promo {
    font-size: 50px;
  }

  .information__promo--slim {
    margin-right: 130px;
    margin-left: 130px;
    padding-right: 130px;
    padding-left: 130px;
    box-sizing: border-box;
  }

  .information__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    margin-top: 94px;
    padding-top: 0;
    padding-right: 130px;
    padding-left: 130px;
    text-align: center;

    &::before {
      display: none;
    }
  }

  .information__item {
    position: relative;
    width: 240px;
    padding: 0;
    padding-top: 300px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 240px;
      height: 300px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(1) {
      padding-top: 300px;
    }

    &:nth-child(1)::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
    }

    &:nth-child(2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    &:nth-child(3)::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }
  }

  .information__title {
    font-size: 30px;
    line-height: 30px;
  }

  .information__wrapper {
    background-color: $grey-light;
  }

  .information__effect {
    margin-right: 130px;
    margin-left: 130px;

    &::before {
      top: 35px;
      left: 17px;
      width: 298px;
      height: 345px;
      background-size: 298px 345px;
    }

    &::after {
      top: 105px;
      left: 39px;
      width: 253px;
      height: 253px;
      padding: 15px;
      font-size: 120px;
      line-height: 187px;
    }
  }

  .information__effect-wrapper {
    width: 550px;
  }

  .information__title-effect {
    width: 100%;
  }
}
