.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
}

.intro__wrapper {
  margin: 0;
  padding-top: 28px;
  padding-right: $gap-mobile;
  padding-bottom: 17px;
  padding-left: $gap-mobile;
  background-color: $blue-darkest;
}

@media (min-width: $tablet-width) {
  .intro {
    background-color: transparent;
  }

  .intro__wrapper {
    margin: 0;
    padding: 0;
    padding-right: $gap-table;
    padding-left: $gap-table;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .intro__wrapper {
    padding-right: $gap-desktop;
    padding-left: $gap-desktop;
  }
}
