.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  text-align: center;
}

.intro__wrapper {
  margin: 0;
  padding-top: 28px;
  padding-right: $gap-mobile;
  padding-bottom: 17px;
  padding-left: $gap-mobile;
  background-color: $blue-darkest;
}

@media (min-width: $tablet-width) {
  .intro {
    background-color: transparent;
  }

  .intro__wrapper {
    margin: 0;
    padding: 0;
    padding-right: $gap-table;
    padding-left: $gap-table;
    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    width: 340px;
    margin: 0;
    margin-top: 30px;
    margin-left: 130px;
    padding-bottom: 60px;
    background-color: transparent;

    &::before {
      top: -268px;
      left: 0;
      z-index: -1;
      display: block;
      width: 1050px;
      height: 645px;
      background-image: url("../img/iphone-hand-desktop@1x.png");
    }
  }
}
