.menu {
  @include list-reset;
  display: none;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 66px;
}

.menu--active {
  display: flex;
  background-color: $blue-dark;
}

.menu__item {
  width: 100%;
  padding: 27px 0;
  text-align: center;
  border-top: 1px solid rgba($white, 0.15);
  border-bottom: 1px solid $black;

  &:nth-child(1) {
    box-shadow: inset 0 1px 0 0 $black;
  }
}

.menu__link {
  margin: 0;
  padding: 27px 5px;
  font: inherit;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
}

@media (min-width: $tablet-width) {
  .menu {
    padding-top: 110px;
  }
}

@media (min-width: $desktop-width) {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 620px;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .menu__item {
    border-style: none;

    &:nth-child(1) {
      box-shadow: none;
    }
  }

  .menu__link {
    text-transform: none;
  }

  .menu__link--active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 20px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $white;
    }
  }
}
