.page-footer {
  margin: 0;
  padding: 40px 20px 50px;
}

.page-footer--index {
  display: none;
}

.page-footer__logo {
  text-align: center;
}

.page-footer__social {
  padding: 41px 0 43px;
}

.page-footer__developer {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer--index {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding-right: 130px;
    padding-left: 130px;
  }
}
