.page-main {
  position: relative;
  padding-top: 65px;
  color: $blue-dark;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.page-main__title {
  margin: 0;
  padding: 35px;
  font-size: 24px;
  font-weight: 300;
  color: $white;
  text-align: center;
}

.page-main__text {
  padding: 55px 15px;
  text-align: center;
}

.page-main__wrapper {
  margin: 0;
  padding: 0;
  background-color: $white;
}

.page-main__application {
  margin: 0;
  padding: 20px 20px 40px;
}

@media (min-width: $tablet-width) {
  .page-main {
    padding-top: 178px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
  .page-main__title--index {
    position: relative;
    width: 340px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    z-index: 1;
    font-size: 40px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    box-sizing: border-box;
  }
}
