.photos {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 40px;
}

.photos__list {
  @include list-reset;
}

.photos__item {
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 0;
  box-sizing: border-box;
}

.photos__item--panorama {
  position: relative;
  padding: 0;
  line-height: 0;
  box-sizing: border-box;

  &::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 20px;
    width: 140px;
    height: 36px;
    margin: 0;
    padding: 7px 5px;
    box-sizing: border-box;
    background-color: $pink;
    text-transform: uppercase;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    text-align: center;
  }
}

.photos__picture {
  margin: 0;
  padding: 0;
}

.photos__image {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
}

.photos__wrapper {
  margin: 0;
  padding: 25px 18px;
  background-color: $grey-light;
  line-height: 24px;
}

.photos__wrapper--panorama {
  margin-right: 20px;
  margin-left: 20px;
}

.photos__title {
  margin: 0;
  padding: 0;
}

.photos__author {
  font-weight: bold;
}

.photos__time {
  font-size: 12px;
  text-transform: uppercase;
}

.photos__text {
  margin: 0;
  padding: 0;
}

.photos__rates {
  position: relative;
  margin: 20px 0 0;
  padding: 0;
  padding-left: 38px;
  color: $pink;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;

    width: 13px;
    height: 12px;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    transform: translateY(50%);
  }
}

@media (min-width: $tablet-width) {
  .photos__list {
    display: flex;
    flex-wrap: wrap;
  }

  .photos__item {
    width: 50%;
    height: 100%;
  }

  .photos__item--panorama {
    width: 100%;


    &::before {
      top: 57px;
      right: 20px;
    }
  }

  .photos__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100px;
    padding: 30px;
  }

  .photos__wrapper--panorama {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photos__text--panorama {
    order: 1;
  }

  .photos__rates {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    margin-top: auto;
    margin-right: auto;
    padding: 0;

    &::before {

      bottom: 50%;
      left: auto;
      right: 0;
      margin: 0;
      margin-left: auto;
    }
  }

  .photos__rates--panorama {
    width: auto;
    margin: 0;
    margin-left: auto;
    padding-right: 20px;

    &::before {
      top: 0;
      bottom: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .photos__list {
    justify-content: center;

  }
  .photos__item {
    width: 320px;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
  }

  .photos__item--panorama {
    width: 100%;
    max-width: 1200px;
    padding: 0;
  }

  .photos__wrapper--panorama {
    margin-right: 130px;
    margin-left: 130px;
  }
}
