.reviews {
  position: relative;
}

.reviews__slider {
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-right: $gap-mobile;
  padding-left: $gap-mobile;
}

@media (min-width: $desktop-width) {
  .reviews__slider {
    padding: 0 $gap-desktop;
  }
}
