.rewie {
  margin: 0;
  padding: 0;
  text-align: center;
}

.rewie__author {
  font: inherit;
  font-size: 18px;
  font-weight: bold;
}

.rewie__text {
  margin: 0;
  margin-top: 25px;
  padding: 0;
}
