.rewiews {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.reviews__slider {
  margin: 0;
  padding: 0 20px;
}

@media (min-width: $desktop-width) {
  .reviews__slider {
    padding: 0 130px;
  }
}
