.slider {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider__list {
  @include list-reset;
  display: flex;
  flex-wrap: nowrap;
}

.slider__item {
  display: none;
  margin: 0;
  padding: 0;
}

.slider__item--active {
  display: block;
}

.slider__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  padding: 0;
}

.slider__toogle {
  width: 6px;
  height: 6px;
  margin: 0 10px;
  padding: 0;
  background-color: $blue-dark;
  opacity: 0.3;
  border-radius: 50%;
}

.slider__toogle--active {
  opacity: 1;
  border: 3px solid $blue-dark;
  background-color: $white;
  border-radius: 50%;
  box-sizing: content-box;
}

.slider__btn {
  display: none;
}

@media (min-width: $desktop-width) {
  .slider {
    display: flex;
    align-items: center;
  }

  .slider__controls {
    display: none;
  }

  .slider__btn {
    display: inline-block;
    width: 41px;
    height: 41px;
    border-style: none;
    background-color: transparent;
    background-size: 22px 41px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slider__btn--left {
    margin-right: 105px;
    margin-left: 10px;
    background-image: url("../img/icon-review-arrow-left.svg");
  }

  .slider__btn--right {
    margin-right: 10px;
    margin-left: 105px;
    background-image: url("../img/icon-review-arrow-right.svg");
  }

  .slider__list {
    position: relative;
    padding-top: 163px;

    &::before {
      content: "";
      position: absolute;
      top: -58px;
      right: 50%;
      width: 79px;
      height: 63px;
      margin-top: 72px;
      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(50%);
    }
  }
}
